{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'booking/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" class="login-form" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <b>{{ form.user_name.label_tag }}</b>
                {{ form.user_name }}
            </div>
            <div class="form-group password-input">
                <b>{{ form.password.label_tag }} </b>
                <input type="password" id="password-input" class="password-input" name="{{ form.password.name }}">
                <span class="toggle-password" onclick="togglePasswordVisibility(this)">👁️</span>
            </div>
            {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <button type="submit" class="btn-login">Login</button>
        </form>
        <div class="register-link">
            <b>If you don't have an account? <a href="{% url "registration" %}">Register Here</a></b>
        </div>
    </div>

    <!-- JavaScript for toggling password visibility -->
    <script>
        function togglePasswordVisibility(icon) {
            var input = icon.parentElement.querySelector('input');
            input.type = input.type === 'password' ? 'text' : 'password';
        }
    </script>
</body>
</html>

